body{        
    font-size: 15pt;
    font-family: helvetica;
    background: #3A3535;
    
}
body h1{
  padding: 30px;
  color: black;
}
body h2{
    padding: 20px;
    margin: 0;
    text-align: justify;
}
.home{
    font-size: 20pt;
    display: flex;
    float: right;
    margin: 20px;
    padding: 10px;
}
.container{
    width: 100%;
    margin:4px;
    background: #FF7315; 
    } 
.glass{
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        margin-top: 10px;
        width: 100%;
    }
    button a{
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        font-size: 19px;

    }
    .info ul li{
        list-style: none;
        
        
    }
    .info ul li a{
        margin: 5px;
        text-decoration: none;
        color: black;
        font-size: 24px;
    }
    .ema ul li{
        list-style: none;
       
        
    }
    .home ul li{
        width: 215px;
        float: right;
        margin: 10px auto;
        text-align: center;
        list-style: none;
        
    }
    
    .home ul li a{
           text-decoration: none;
           color: white;
           font-size: 24px;
           font-weight: bold;
    }
    .home ul li a:hover{
              color: #FF7315;
    }