
body{
    color: orange;
    background: linear-gradient( rgba(0,0,0,0.95),rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0)), url('image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
      }
.container{
    margin-top: 25px;
    margin-right: 25px;
    width: 900px;
    border: 1px solid #FF7315; 
    border-radius: 50px;
    float: right;
    height: 90px;
    background-color: #FF7315;
    font-weight: bold;
     
}

.container ul li{
 width: 215px;
 float: right;
 margin: 10px auto;
 text-align: center;
 list-style: none;
 
   }
   .container ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.container ul li a:hover{
       color: black;
   }
   
.welcome{
      width: 250px;
       height: 539px;
       background-color: black;
       opacity: 0.9;
       padding: 70px;
       text-align: center;
       color: white;
       font-size: 18px;

}
   .pic{
    height: 0;
    width: 45px;
   
    
   }
   .imagess img{
    border-radius: 100%;
    top: 0px;
    padding: 250px;
    height: fit-content;
    width: 500px ;
    float: right;
   padding-top: 50px;
   padding-bottom: 30px;

   }
   span{
    color: orange;
   }
   
  