*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.box{
    background-color: #FF7315;
}
body{
    background-image: url(/docs/image/bgsw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display:flex ;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
nav ul li a:hover{
    color: black;
    
}
.proj ul li{
    margin: auto;
    align-items: center;
    justify-content: first baseline;
    padding: 30px;
    list-style: none;
    
}
.proj ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 25px;
    
    
}
.proj ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #FF7315;
    
}
h1{
    color: black;
}
.container{
justify-items: center;
padding-top: 40px;
padding-bottom: 73px;
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
}
.img{
    float: right;
    height:380px;
   position: relative;
   
  }