*{
    font-weight: bold;
    color: white;
    padding: 1px;
    margin: 2px;
}
table,th,td{
    border:2px solid #FF7315;
    border-collapse:collapse;}
.Homepage{
    align-items: left;
    display: flex;
    
}

body{
    background-color: #232020;
}nav{
    display:flex ;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;

}
nav ul li a:hover{
    color: #FF7315;
    
}
nav h1{
    color: white;
    font-size: 35px;
}